# Апта 6 есептер

In [22]:
import pandas as pd

# 1

In [23]:
temperatures = pd.Series([5,-3,7], index=['Алматы', 'Астана', 'Шымкент'])
temperatures

Алматы     5
Астана    -3
Шымкент    7
dtype: int64

In [6]:
temperatures['Алматы']

np.int64(5)

In [7]:
temperatures[temperatures > 0]

Алматы     5
Шымкент    7
dtype: int64

In [ ]:
# Task 2 

data = {
    'name': ['Aigerim', 'Dias', 'Miras', 'Dana'],
    'age': [20, 22, 21, 19],
    'score': [88, 92, 75, 95]
}

students_df = pd.DataFrame(data)
print("Students DataFrame:")
print(students_df)

older_students = students_df[students_df['age'] > 20]
print("\n Students where age more 20 years:")
print(older_students)

name_score = students_df[['name', 'score']]
print("\n'name' and 'score' columns:")
print(name_score)

max_score = students_df['score'].max()
top_student_name = students_df[students_df['score'] == max_score]['name'].iloc[0]
print(f"\n Max Score: {top_student_name} ({max_score})")

Students DataFrame:
      name  age  score
0  Aigerim   20     88
1     Dias   22     92
2    Miras   21     75
3     Dana   19     95

 Students where age more 20 years:
    name  age  score
1   Dias   22     92
2  Miras   21     75

'name' and 'score' columns:
      name  score
0  Aigerim     88
1     Dias     92
2    Miras     75
3     Dana     95

 Max Score: Dana (95)

In [11]:
#               Task 3 

value_iloc = students_df.iloc[2, 2]
print(value_iloc)

dias_row = students_df.loc[students_df['name'] == 'Dias']
print("\nName 'Dias' students:")
print(dias_row)

75

Name 'Dias' students:
   name  age  score
1  Dias   22     92

In [12]:
#               Task 4

drugs_data = {
    'drug': ['A', 'B', 'C', 'D'],
    'price': [1200, 800, 600, 2000],
    'amount': [5, 10, 3, 8]
}
drugs_df = pd.DataFrame(drugs_data)
print("Dariler DataFrame:")
print(drugs_df)

# 1 
expensive_drugs = drugs_df[drugs_df['price'] > 1000]
print("\n Price more 1000:")
print(expensive_drugs)

# 2
price_range_drugs = drugs_df[(drugs_df['price'] >= 600) & (drugs_df['price'] <= 800)]
print("\nPrice between 600 and 800:")
print(price_range_drugs)

# 3
low_amount_drugs = drugs_df[drugs_df['amount'] < 5]
print("\nPrice less 5:")
print(low_amount_drugs)

Dariler DataFrame:
  drug  price  amount
0    A   1200       5
1    B    800      10
2    C    600       3
3    D   2000       8

 Price more 1000:
  drug  price  amount
0    A   1200       5
3    D   2000       8

Price between 600 and 800:
  drug  price  amount
1    B    800      10
2    C    600       3

Price less 5:
  drug  price  amount
2    C    600       3

In [13]:
#               Task 5

employees_data = {
    'name': ['Ayan', 'Dana', 'Miras', 'Aida', 'Timur'],
    'department': ['IT', 'HR', 'IT', 'HR', 'Sales'],
    'salary': [400000, 300000, 450000, 320000, 280000]
}

In [15]:
employees_df = pd.DataFrame(employees_data)
employees_df

    name department  salary
0   Ayan         IT  400000
1   Dana         HR  300000
2  Miras         IT  450000
3   Aida         HR  320000
4  Timur      Sales  280000

In [18]:
# 1 
avg_salary_by_dept = employees_df.groupby('department')['salary'].mean()
print("\nӘр бөлім бойынша орташа жалақы:")
print(avg_salary_by_dept)

# 2
count_by_dept = employees_df.groupby('department')['name'].count()
print("\nӘр бөлімдегі қызметкерлер саны:")
print(count_by_dept)

# 3
highest_avg_salary_dept = avg_salary_by_dept.idxmax()
print(f"\nЕң жоғары орташа жалақысы бар бөлім: {highest_avg_salary_dept} ({avg_salary_by_dept.max():.0f} тг)")

Әр бөлім бойынша орташа жалақы:
department
HR       310000.0
IT       425000.0
Sales    280000.0
Name: salary, dtype: float64

Әр бөлімдегі қызметкерлер саны:
department
HR       2
IT       2
Sales    1
Name: name, dtype: int64

Ең жоғары орташа жалақысы бар бөлім: IT (425000 тг)

In [19]:
#                   Task 6


min_max_salary = employees_df.groupby('department')['salary'].agg(['min', 'max'])
print("\nӘр бөлім үшін жалақының min және max мәндері:")
print(min_max_salary)

total_salary_by_dept = employees_df.groupby('department')['salary'].sum()
print("\nӘр бөлімдегі жалақының жалпы суммасы:")
print(total_salary_by_dept)

Әр бөлім үшін жалақының min және max мәндері:
               min     max
department
HR          300000  320000
IT          400000  450000
Sales       280000  280000

Әр бөлімдегі жалақының жалпы суммасы:
department
HR       620000
IT       850000
Sales    280000
Name: salary, dtype: int64

In [ ]:
#               Task 7 

students = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Aigerim', 'Dias', 'Ayan']
})

scores = pd.DataFrame({
    'id': [1, 2, 3],
    'math': [88, 75, 95],
    'physics': [90, 80, 92]
})

print("students DataFrame:")
print(students)
print("\nscores DataFrame:")
print(scores)

# 1     
merged_df = pd.merge(students, scores, on='id')
print(merged_df)

# 2
students_indexed = students.set_index('id')
scores_indexed = scores.set_index('id')
joined_df = students_indexed.join(scores_indexed)
print(joined_df)

# 3
concatenated_rows = pd.concat([students, students], ignore_index=True)
print(concatenated_rows)

# 4
concatenated_cols = pd.concat([students, scores], axis=1)
print(concatenated_cols)

students DataFrame:
   id     name
0   1  Aigerim
1   2     Dias
2   3     Ayan

scores DataFrame:
   id  math  physics
0   1    88       90
1   2    75       80
2   3    95       92
   id     name  math  physics
0   1  Aigerim    88       90
1   2     Dias    75       80
2   3     Ayan    95       92
       name  math  physics
id
1   Aigerim    88       90
2      Dias    75       80
3      Ayan    95       92
   id     name
0   1  Aigerim
1   2     Dias
2   3     Ayan
3   1  Aigerim
4   2     Dias
5   3     Ayan
   id     name  id  math  physics
0   1  Aigerim   1    88       90
1   2     Dias   2    75       80
2   3     Ayan   3    95       92

In [ ]:
#                   Task 8

advanced_data = {
    'student': ['Aigerim', 'Dias', 'Ayan'],
    'math': [88, 75, 95],
    'physics': [90, 80, 92],
    'history': [78, 85, 90]
}
grades_df = pd.DataFrame(advanced_data)
grades_df = grades_df.set_index('student') 
print("Бастапқы бағалар DataFrame:")
print(grades_df)

subject_stats = grades_df.agg(['min', 'max', 'mean', 'median'])
print("\nӘр пән бойынша жалпы статистика:")
print(subject_stats)

grades_df['avg'] = grades_df.mean(axis=1)
print("\n'avg' бағаны қосылған DataFrame:")
print(grades_df)

high_achievers = grades_df[grades_df['avg'] > 85]
print("\nОрташа балы 85-тен жоғары студенттер:")
print(high_achievers)

Бастапқы бағалар DataFrame:
         math  physics  history
student
Aigerim    88       90       78
Dias       75       80       85
Ayan       95       92       90

Әр пән бойынша жалпы статистика:
        math    physics    history
min     75.0  80.000000  78.000000
max     95.0  92.000000  90.000000
mean    86.0  87.333333  84.333333
median  88.0  90.000000  85.000000

'avg' бағаны қосылған DataFrame:
         math  physics  history        avg
student
Aigerim    88       90       78  85.333333
Dias       75       80       85  80.000000
Ayan       95       92       90  92.333333

Орташа балы 85-тен жоғары студенттер:
         math  physics  history        avg
student
Aigerim    88       90       78  85.333333
Ayan       95       92       90  92.333333