In [7]:
# Task 1

age = 20

name = 'Zhanbolat'

weight = 70.2

genfer = True

listt = [1,2,3,4]

In [4]:
# Task 2
if age < 20:
  print('Young')
elif age > 40:
  print('Old')
else:
  print("Ortasha jas")


if weight > 90:
  print('Semiz adam')
elif weight < 60:
  print('Aryq adam')
else:
  print('Ortasha adam')

Ortasha jas
Ortasha adam

In [5]:
# Task 3

for i in range(1, 21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [8]:
for i in listt:
  print(i)

1
2
3
4

In [9]:
from os import readlink
# Task 4

def read_list(l):
  for i in l:
    print(i)

read_list(listt)

1
2
3
4

In [10]:
def generate_numbers(n):
  for i in range(1, n+1):
    print(i)

generate_numbers(10)

1
2
3
4
5
6
7
8
9
10