In [15]:
with open('../data/numbers.txt', 'w') as f:
    for number in range(21):
        f.write(str(number) + '\n')

In [21]:
# Task 1
numbers = [] 
count = 0
with open('../data/numbers.txt', 'r') as f:
    for line in f:
        line = line.strip('\n')
        count += int(line) 
        numbers.append(int(line))

print(f"Count numbers: {count}")
print(numbers)

Count numbers: 210
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [36]:
# 2 
cube = [x**3 for x in numbers if x % 3 != 0]
cube

[1, 8, 64, 125, 343, 512, 1000, 1331, 2197, 2744, 4096, 4913, 6859, 8000]

In [26]:
# 3 
students = {
    "Алмаз": 92,
    "Бауыржан": 85,
    "Самал": 98,
    "Данияр": 78,
    "Еркежан": 92
}

In [29]:
max_score = max(students.values())
max_score

98

In [30]:
# 4 
nlinst = [5, 12, 8, 5, 20, 12, 8, 15, 20]

unique_set = set(nlinst)
unique_set

{5, 8, 12, 15, 20}

In [31]:
# 5 
import json 

file_name = '../data/student_grades.json'

with open(file_name, 'w', encoding='utf-8') as f:
    json.dump(students, f)

In [32]:
with open(file_name, 'r', encoding='utf-8') as f:
    loaded_data = json.load(f)

all_scores = list(loaded_data.values())

In [34]:
total_sum = sum(all_scores)
count = len(all_scores)
average_score = total_sum / count

In [35]:
print(f"Average score : {average_score:.2f}")

Average score : 89.00